/* footer styles */
.footer {
  padding: 1rem;
  background-color: #f6f6f6;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
