/* Search bar styles */
.header-search {
  flex: 1;
  max-width: 692px;
  min-width: 200px;
}

.header-search .search-bar {
  max-width: none;
}

.header-search .search-buttons {
  display: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #dfe1e5;
  border-radius: 2rem;
}

.search-input {
  flex: 1;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
}

.home-search .search-input {
  width: 25rem;
}

.search-buttons {
  margin: 1rem 0;
}

.search-button {
  border: none;
  padding: 0.5rem 1rem;
}
