.skeleton-loader {
  position: relative;
  height: 320px;
  width: 100dvw;
}
.skeleton-loader:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(#aaaaaa 16px, transparent 0),
    linear-gradient(#aaaaaa 39px, transparent 0),
    linear-gradient(#aaaaaa 16px, transparent 0),
    linear-gradient(#aaaaaa 16px, transparent 0),
    linear-gradient(#aaaaaa 17px, transparent 0),
    linear-gradient(#aaaaaa 32px, transparent 0),
    linear-gradient(#aaaaaa 22px, transparent 0),
    linear-gradient(#ffffff 100%, transparent 0);
  background-size: 264px 100%, 198px 16px, 150px 39px, 496px 16px, 496px 16px,
    128px 17px, 185px 32px, 477px 22px, 100% 100%;
  background-position: 0 0, 16px 17px, 15px 53px, 15px 112px, 16px 148px,
    15px 198px, 15px 235px, 16px 288px, 0 0;
  animation: skeleton-animation 2000ms infinite;
}

@keyframes skeleton-animation {
  to {
    background-position: 100% 0, 16px 17px, 15px 53px, 15px 112px, 16px 148px,
      15px 198px, 15px 235px, 16px 288px, 0 0;
  }
}
